html {
}
/*************** Header ***************/
header {
  border-radius: 1rem;
  text-align: right;
  padding: 10px 0px;
  font-size: 1.2rem;
  border: 3px;
  padding-right: 21px;
}
ul#horizontal-list li {
  display: inline;
  font-family: "Krub", sans-serif;
  font-size: 1rem;
}
header a {
  margin-left: 6rem;
  text-decoration: none;
  color: black;
}

a:link {
  color: black;
}
a:visited {
  color: rgb(30, 66, 36);
  font-size: 1rem;
}
a:hover {
  color: rebeccapurple;
  font-weight: bolder;
  font-size: 1rem;
}
