/************************* Mobile style *************************/

@media (max-width: 620px) {
  /***************** Index *****************/
  .billedeforside {
    background-color: var(--primary);
    text-align: center;
    padding: 3rem 3rem 3rem 3rem;
  }
  /***************** Portfolio *****************/
  .grid_2-2-2-2 {
    display: grid;
    grid-template-columns: 1fr;
    padding: 3rem 3rem 3rem 3rem;
    gap: 50px;
  }
  .flex_col {
    padding: 1rem 1rem 1rem 1rem;
    background-color: var(--primary);
  }

  /***************** Tema 2 *****************/
  .overskrift_portfolio {
    text-align: center;
    padding-top: 2rem;
  }
  .grid_1-2 {
    padding: 1rem 2rem 1rem;
  }
  .grid_2-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 2rem;
    padding-left: 3rem;
  }
  #mindretak2 {
    max-width: 69%;
    padding-left: 3rem;
  }
  .streg2 {
    padding-bottom: 0.7rem;
  }
  h2 {
    font-size: 2.1rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  p {
    font-size: 1.1rem;
  }
  /***************** Tema 3 *****************/
  .overskrift_portfolio {
    text-align: center;
    padding-top: 2rem;
  }
  .grid_1-3 {
    padding: 1rem 2rem 1rem;
  }
  .grid_2-3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 2rem;
  }
  #mindretak3 {
    max-width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1.5rem;
  }
  .streg2 {
    padding-bottom: 0.7rem;
  }
  h2 {
    font-size: 2.1rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  p {
    font-size: 1.1rem;
  }
  /***************** Tema 4 *****************/
  .overskrift_portfolio {
    text-align: center;
    padding-top: 2rem;
  }
  .grid_1-4 {
    padding: 1rem 2rem 1rem;
  }
  .grid_2-4 {
    padding-top: 2rem;
  }
  .streg2 {
    padding-bottom: 0.7rem;
  }
  h2 {
    font-size: 2.1rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  p {
    font-size: 1.1rem;
  }
  /***************** Tema 5 *****************/
  .overskrift_portfolio {
    text-align: center;
    padding-top: 2rem;
  }
  .grid_1-5 {
    padding: 1rem 2rem 1rem;
  }
  .grid_2-5 {
    padding-top: 2rem;
    padding-left: 5rem;
    max-width: 80%;
  }
  .grid_3-5 {
    padding: 1rem 2rem 1rem;
  }
  .grid_4-5 {
    padding-top: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .streg2 {
    padding-top: 2rem;
    padding-bottom: 0.7rem;
  }
  h2 {
    font-size: 2.1rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  h4 {
    font-size: 1.4rem;
  }
  p {
    font-size: 1.1rem;
  }
}
/************************* large tablets & laptop styles *************************/

@media (min-width: 621px) {
  /***************** Index *****************/
  .billedeforside {
    background-color: var(--primary);
    text-align: center;
    padding: 3rem 3rem 3rem 3rem;
  }

  /***************** Portfolio *****************/
  .grid_2-2-2-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 3rem 7rem 3rem 7rem;
    gap: 50px;
  }
  .flex_col {
    padding: 1rem 1rem 1rem 1rem;
    background-color: var(--primary);
  }
  /***************** Tema 2 *****************/

  .overskrift_portfolio {
    text-align: center;
    padding-top: 2rem;
  }
  .grid_1-2 {
    padding: 1rem 2rem 1rem;
  }
  .grid_2-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 2rem;
    padding-left: 2rem;
    max-width: 80%;
  }
  #mindretak2 {
    max-width: 58%;
    padding-left: 3rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 2rem;
  }
  p {
    font-size: 1.5rem;
  }
  /***************** Tema 3 *****************/
  .overskrift_portfolio {
    text-align: center;
    padding-top: 2rem;
  }
  .grid_1-3 {
    padding: 1rem 2rem 1rem;
  }
  .grid_2-3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 2rem;
    max-width: 69%;
  }
  #mindretak3 {
    max-width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1.5rem;
  }
  .streg2 {
    padding-bottom: 0.7rem;
  }
  h2 {
    font-size: 2.3rem;
  }
  h3 {
    font-size: 1.7rem;
  }
  p {
    font-size: 1.3rem;
  }
  /***************** Tema 4 *****************/
  .overskrift_portfolio {
    text-align: center;
    padding-top: 2rem;
  }
  .grid_1-4 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1rem 2rem 1rem;
  }
  .grid_2-4 {
    padding-top: 2rem;
    padding-left: 5rem;
    max-width: 80%;
  }
  .streg2 {
    padding-bottom: 0.7rem;
  }
  h2 {
    font-size: 2.1rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  p {
    font-size: 1.1rem;
  }
  /***************** Tema 5 *****************/
  .overskrift_portfolio {
    text-align: center;
    padding-top: 2rem;
  }
  .grid_1-5 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1rem 2rem 1rem;
  }
  .grid_2-5 {
    padding-top: 2rem;
    padding-left: 5rem;
    max-width: 80%;
  }
  .grid_3-5 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1rem 2rem 1rem;
  }
  .grid_4-5 {
    padding-left: 1rem;
    padding-right: 4rem;
  }
  .streg2 {
    padding-top: 2rem;
    padding-bottom: 0.7rem;
  }
  h2 {
    font-size: 2.1rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  h4 {
    font-size: 1.4rem;
  }
  p {
    font-size: 1.1rem;
  }
}
/************************* desktop style *************************/

@media (min-width: 1200px) {
  /***************** Portfolio *****************/
  .grid_2-2-2-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 5rem 10rem 5rem 10rem;
    gap: 50px;
  }
  .flex_col {
    padding: 1rem 1rem 1rem 1rem;
    background-color: var(--primary);
  }
  /***************** Tema 2 *****************/

  .overskrift_portfolio {
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 1rem;
  }
  .grid_1-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 3rem;
  }
  .grid_2-2 {
    display: grid;
  }
  #mindretak2 {
    max-width: 80%;
    padding-left: 1rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.9rem;
  }
  p {
    font-size: 1.5rem;
  }
  /***************** Tema 3 *****************/
  .overskrift_portfolio {
    text-align: center;
    padding-top: 2rem;
  }
  .grid_1-3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1rem 2rem 3rem;
  }
  .grid_2-3 {
    max-width: 100%;
    padding-top: 2rem;
    padding-left: 4rem;
  }
  #mindretak3 {
    max-width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1.5rem;
  }
  .streg2 {
    padding-bottom: 0.7rem;
  }
  h2 {
    font-size: 2.3rem;
  }
  h3 {
    font-size: 1.7rem;
  }
  p {
    font-size: 1.3rem;
  }
}
