/************************* Mobile style *************************/

@media (max-width: 620px) {
  /***************** Index *****************/
  /***************** Skærm *****************/

  #screen {
    width: 100%;
    aspect-ratio: 16/9;
    position: relative;
  }
  #game {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  #game_elements {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  #game_foreground {
    width: 57%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 8rem;
    background-image: url(illustartor/forsidecirkel.svg);
    background-size: cover;
  }
  /***************** Elementer *****************/
  /***************** Stjerner *****************/
  #stjerne1_container {
    position: absolute;
    width: 10%;
    aspect-ratio: 1/1;
  }
  #stjerne1_sprite {
    width: 100%;
    height: 100%;
    background-image: url(illustartor/stjerne1.svg);
    background-size: 100%;
  }
  #stjerne3_container {
    position: absolute;
    width: 9%;
    aspect-ratio: 1/1;
  }
  #stjerne3_sprite {
    width: 100%;
    height: 100%;
    background-image: url(illustartor/stjerne3.svg);
    background-size: 100%;
  }
  #stjerne4_container {
    position: absolute;
    width: 8%;
    aspect-ratio: 1/1;
  }
  #stjerne4_sprite {
    width: 100%;
    height: 100%;
    background-image: url(illustartor/stjerne4.svg);
    background-size: 100%;
  }
  #stjerne5_container {
    position: absolute;
    width: 7%;
    aspect-ratio: 1/1;
  }
  #stjerne5_sprite {
    width: 100%;
    height: 100%;
    background-image: url(illustartor/stjerne5.svg);
    background-size: 100%;
  }
  #stjerne6_container {
    position: absolute;
    width: 6%;
    aspect-ratio: 1/1;
  }
  #stjerne6_sprite {
    width: 100%;
    height: 100%;
    background-image: url(illustartor/stjerne6.svg);
    background-size: 100%;
  }
  #stjerne7_container {
    position: absolute;
    width: 5%;
    aspect-ratio: 1/1;
  }
  #stjerne7_sprite {
    width: 100%;
    height: 100%;
    background-image: url(illustartor/stjerne7.svg);
    background-size: 100%;
  }
  #stjerne8_container {
    position: absolute;
    width: 9%;
    aspect-ratio: 1/1;
  }
  #stjerne8_sprite {
    width: 100%;
    height: 100%;
    background-image: url(illustartor/stjerne8.svg);
    background-size: 100%;
  }
  #stjerne9_container {
    position: absolute;
    width: 8%;
    aspect-ratio: 1/1;
  }
  #stjerne9_sprite {
    width: 100%;
    height: 100%;
    background-image: url(illustartor/stjerne9.svg);
    background-size: 100%;
  }
  #stjerne10_container {
    position: absolute;
    width: 7%;
    aspect-ratio: 1/1;
  }
  #stjerne10_sprite {
    width: 100%;
    height: 100%;
    background-image: url(illustartor/stjerne10.svg);
    background-size: 100%;
  }
  #stjerne11_container {
    position: absolute;
    width: 6%;
    aspect-ratio: 1/1;
  }
  #stjerne11_sprite {
    width: 100%;
    height: 100%;
    background-image: url(illustartor/stjerne11.svg);
    background-size: 100%;
  }
  #stjerne12_container {
    position: absolute;
    width: 5%;
    aspect-ratio: 1/1;
  }
  #stjerne12_sprite {
    width: 100%;
    height: 100%;
    background-image: url(illustartor/stjerne12.svg);
    background-size: 100%;
  }
  /***************** Fald animation *****************/
  .fald1 {
    animation-name: fald1_kf;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-fill-mode: both;
  }
  @keyframes fald1_kf {
    100% {
      transform: translateY(41vw);
    }
  }
  .fald2 {
    animation-name: fald2_kf;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-fill-mode: both;
  }
  @keyframes fald2_kf {
    100% {
      transform: translateY(41vw);
    }
  }
  .fald3 {
    animation-name: fald3_kf;
    animation-duration: 6.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-fill-mode: both;
  }
  @keyframes fald3_kf {
    100% {
      transform: translateY(41vw);
    }
  }
  .fald4 {
    animation-name: fald4_kf;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-fill-mode: both;
  }
  @keyframes fald4_kf {
    100% {
      transform: translateY(41vw);
    }
  }
  .fald5 {
    animation-name: fald5_kf;
    animation-duration: 5.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-fill-mode: both;
  }
  @keyframes fald5_kf {
    100% {
      transform: translateY(41vw);
    }
  }
  /********************* Posetioner *********************/

  .pos1 {
    top: 0vw;
    left: -6vw;
  }
  .pos2 {
    top: 0vw;
    left: 1vw;
  }
  .pos3 {
    top: 0vw;
    left: 8vw;
  }
  .pos4 {
    top: 0vw;
    left: 15vw;
  }
  .pos5 {
    top: 0vw;
    left: 57vw;
  }
  .pos6 {
    top: 0vw;
    left: 64vw;
  }
  .pos7 {
    top: 0vw;
    left: 71vw;
  }
  .pos8 {
    top: 0vw;
    left: 78vw;
  }
  .pos9 {
    top: 0vw;
    left: 85vw;
  }
  /***************** Portfolio *****************/
  .grid_2-2-2-2 {
    display: grid;
    grid-template-columns: 1fr;
    padding: 3rem 3rem 3rem 3rem;
    gap: 50px;
  }
  .flex_col {
    padding: 1rem 1rem 1rem 1rem;
    background-color: var(--primary);
  }

  /***************** Tema 2 *****************/
  .overskrift_portfolio {
    text-align: center;
    padding-top: 2rem;
  }
  .grid_1-2 {
    padding: 1rem 2rem 1rem;
  }
  .grid_2-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 2rem;
    padding-left: 3rem;
  }
  .grid_3-2 {
    padding: 1rem 2rem 1rem;
  }
  .grid_4-2 {
    max-width: 66%;
    padding-left: 10rem;
    padding-bottom: 1rem;
  }
  #mindretak2 {
    max-width: 69%;
    padding-left: 3rem;
  }
  .streg2 {
    padding-bottom: 0.7rem;
  }
  h2 {
    font-size: 2.1rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  p {
    font-size: 1.1rem;
  }
  /***************** Tema 3 *****************/
  .overskrift_portfolio {
    text-align: center;
    padding-top: 2rem;
  }
  .grid_1-3 {
    padding: 1rem 2rem 1rem;
  }
  .grid_2-3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 2rem;
  }
  .grid_3-3 {
    padding: 1rem 2rem 1rem;
  }
  .grid_4-3 {
    padding-top: 2rem;
  }
  button {
    background-color: var(--menu);
    border-radius: 12px;
    padding: 10px 10px;
    font-size: 23px;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  /* Slideshow container */
  .slideshow-container {
    width: 80%;
    position: relative;
    margin-top: 2rem;
    padding-left: 7rem;
  }
  /* Skjul billederne som standard */
  .mySlides {
    display: none;
  }
  /* Næste og forrige knapper */
  .prev,
  .next {
    position: absolute;
    top: 35%;
    width: auto;
    padding: 16px;
    color: var(--menu);
    font-size: 50px;
  }
  /* Placer "næste-knappen" til højre */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  /* Når du svæver, tilføjer du en sort baggrundsfarve med en lille smule gennemsigtighed */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  /* billedtekst */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }

  /* Nummertekst (1/3 osv.) */
  .numbertext {
    color: #f2f2f2;
    font-size: 20px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }

  /* Prikkerne/kuglerne/indikatorerne */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 1rem 0.5rem;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  /* Baggrund på dutter */
  .active,
  .dot:hover {
    background-color: #717171;
  }

  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 2s;
  }

  @keyframes fade {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  #mindretak3 {
    max-width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1.5rem;
  }
  .streg2 {
    padding-bottom: 0.7rem;
  }
  h2 {
    font-size: 2.1rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  p {
    font-size: 1.1rem;
  }
  /***************** Tema 4 *****************/
  .overskrift_portfolio {
    text-align: center;
    padding-top: 2rem;
  }
  .grid_1-4 {
    padding: 1rem 2rem 1rem;
  }
  .grid_2-4 {
    padding-top: 2rem;
  }
  .grid_3-4 {
    padding: 1rem 2rem 1rem;
  }
  .streg2 {
    padding-bottom: 0.7rem;
  }
  h2 {
    font-size: 2.1rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  p {
    font-size: 1.1rem;
  }
  /***************** Tema 5 *****************/
  .overskrift_portfolio {
    text-align: center;
    padding-top: 2rem;
  }
  .grid_1-5 {
    padding: 1rem 2rem 1rem;
  }
  .grid_2-5 {
    padding-top: 2rem;
    padding-left: 5rem;
    max-width: 80%;
  }
  .grid_3-5 {
    padding: 1rem 2rem 1rem;
  }
  .grid_4-5 {
    padding-top: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .mindretak5 {
    padding-left: 3rem;
    max-width: 80%;
  }
  .streg2 {
    padding-top: 2rem;
    padding-bottom: 0.7rem;
  }
  h2 {
    font-size: 2.1rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  h4 {
    font-size: 1.4rem;
  }
  p {
    font-size: 1.1rem;
  }
  /***************** Om mig *****************/
  .grid_1-6 {
    padding: 1rem 2rem 1rem;
  }
  .grid_6-6-6 {
    padding: 1rem 2rem 1rem;
  }
  .imidtentak {
    padding-top: 2rem;
    text-align: center;
  }
}

/************************* large tablets & laptop styles *************************/

@media (min-width: 621px) {
  /***************** Index *****************/
  /***************** Skærm *****************/

  #screen {
    width: 100%;
    aspect-ratio: 16/9;
    position: relative;
  }
  #game {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  #game_elements {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  #game_foreground {
    width: 57%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 20rem;
    background-image: url(illustartor/forsidecirkel.svg);
    background-size: cover;
  }
  /***************** Elementer *****************/
  /***************** Stjerner *****************/
  #stjerne1_container {
    position: absolute;
    width: 10%;
    aspect-ratio: 1/1;
  }
  #stjerne1_sprite {
    width: 100%;
    height: 100%;
    background-image: url(illustartor/stjerne1.svg);
    background-size: 100%;
  }
  #stjerne3_container {
    position: absolute;
    width: 9%;
    aspect-ratio: 1/1;
  }
  #stjerne3_sprite {
    width: 100%;
    height: 100%;
    background-image: url(illustartor/stjerne3.svg);
    background-size: 100%;
  }
  #stjerne4_container {
    position: absolute;
    width: 8%;
    aspect-ratio: 1/1;
  }
  #stjerne4_sprite {
    width: 100%;
    height: 100%;
    background-image: url(illustartor/stjerne4.svg);
    background-size: 100%;
  }
  #stjerne5_container {
    position: absolute;
    width: 7%;
    aspect-ratio: 1/1;
  }
  #stjerne5_sprite {
    width: 100%;
    height: 100%;
    background-image: url(illustartor/stjerne5.svg);
    background-size: 100%;
  }
  #stjerne6_container {
    position: absolute;
    width: 6%;
    aspect-ratio: 1/1;
  }
  #stjerne6_sprite {
    width: 100%;
    height: 100%;
    background-image: url(illustartor/stjerne6.svg);
    background-size: 100%;
  }
  #stjerne7_container {
    position: absolute;
    width: 5%;
    aspect-ratio: 1/1;
  }
  #stjerne7_sprite {
    width: 100%;
    height: 100%;
    background-image: url(illustartor/stjerne7.svg);
    background-size: 100%;
  }
  #stjerne8_container {
    position: absolute;
    width: 9%;
    aspect-ratio: 1/1;
  }
  #stjerne8_sprite {
    width: 100%;
    height: 100%;
    background-image: url(illustartor/stjerne8.svg);
    background-size: 100%;
  }
  #stjerne9_container {
    position: absolute;
    width: 8%;
    aspect-ratio: 1/1;
  }
  #stjerne9_sprite {
    width: 100%;
    height: 100%;
    background-image: url(illustartor/stjerne9.svg);
    background-size: 100%;
  }
  #stjerne10_container {
    position: absolute;
    width: 7%;
    aspect-ratio: 1/1;
  }
  #stjerne10_sprite {
    width: 100%;
    height: 100%;
    background-image: url(illustartor/stjerne10.svg);
    background-size: 100%;
  }
  #stjerne11_container {
    position: absolute;
    width: 6%;
    aspect-ratio: 1/1;
  }
  #stjerne11_sprite {
    width: 100%;
    height: 100%;
    background-image: url(illustartor/stjerne11.svg);
    background-size: 100%;
  }
  #stjerne12_container {
    position: absolute;
    width: 5%;
    aspect-ratio: 1/1;
  }
  #stjerne12_sprite {
    width: 100%;
    height: 100%;
    background-image: url(illustartor/stjerne12.svg);
    background-size: 100%;
  }
  /***************** Fald animation *****************/
  .fald1 {
    animation-name: fald1_kf;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-fill-mode: both;
  }
  @keyframes fald1_kf {
    100% {
      transform: translateY(41vw);
    }
  }
  .fald2 {
    animation-name: fald2_kf;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-fill-mode: both;
  }
  @keyframes fald2_kf {
    100% {
      transform: translateY(41vw);
    }
  }
  .fald3 {
    animation-name: fald3_kf;
    animation-duration: 6.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-fill-mode: both;
  }
  @keyframes fald3_kf {
    100% {
      transform: translateY(41vw);
    }
  }
  .fald4 {
    animation-name: fald4_kf;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-fill-mode: both;
  }
  @keyframes fald4_kf {
    100% {
      transform: translateY(41vw);
    }
  }
  .fald5 {
    animation-name: fald5_kf;
    animation-duration: 5.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-fill-mode: both;
  }
  @keyframes fald5_kf {
    100% {
      transform: translateY(41vw);
    }
  }
  /********************* Posetioner *********************/

  .pos1 {
    top: 0vw;
    left: -6vw;
  }
  .pos2 {
    top: 0vw;
    left: 1vw;
  }
  .pos3 {
    top: 0vw;
    left: 8vw;
  }
  .pos4 {
    top: 0vw;
    left: 15vw;
  }
  .pos5 {
    top: 0vw;
    left: 57vw;
  }
  .pos6 {
    top: 0vw;
    left: 64vw;
  }
  .pos7 {
    top: 0vw;
    left: 71vw;
  }
  .pos8 {
    top: 0vw;
    left: 78vw;
  }
  .pos9 {
    top: 0vw;
    left: 85vw;
  }
  /***************** Portfolio *****************/
  .grid_2-2-2-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 3rem 7rem 3rem 7rem;
    gap: 50px;
  }
  .flex_col {
    padding: 1rem 1rem 1rem 1rem;
    background-color: var(--primary);
  }
  /***************** Tema 2 *****************/

  .overskrift_portfolio {
    text-align: center;
    padding-top: 2rem;
  }
  .grid_1-2 {
    padding: 1rem 2rem 1rem;
  }
  .grid_2-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 2rem;
    padding-left: 2rem;
    max-width: 80%;
  }
  .grid_3-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1rem 2rem 1rem;
  }
  .grid_4-2 {
    max-width: 58%;
    padding-bottom: 1rem;
    padding-left: 2rem;
  }
  #mindretak2 {
    max-width: 58%;
    padding-left: 3rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 2rem;
  }
  p {
    font-size: 1.5rem;
  }
  /***************** Tema 3 *****************/
  .overskrift_portfolio {
    text-align: center;
    padding-top: 2rem;
  }
  .grid_1-3 {
    padding: 1rem 2rem 1rem;
  }
  .grid_2-3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 2rem;
  }
  .grid_3-3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1rem 2rem 1rem;
  }
  .grid_4-3 {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  button {
    background-color: var(--menu);
    border-radius: 12px;
    padding: 10px 10px;
    font-size: 23px;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  /* Slideshow container */
  .slideshow-container {
    width: 93%;
    position: relative;
    margin-top: 2rem;
  }
  /* Skjul billederne som standard */
  .mySlides {
    display: none;
  }
  /* Næste og forrige knapper */
  .prev,
  .next {
    position: absolute;
    top: 20%;
    width: auto;
    padding: 16px;
    color: var(--menu);
    font-size: 40px;
  }
  /* Placer "næste-knappen" til højre */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  /* Når du svæver, tilføjer du en sort baggrundsfarve med en lille smule gennemsigtighed */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  /* billedtekst */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }

  /* Nummertekst (1/3 osv.) */
  .numbertext {
    color: #f2f2f2;
    font-size: 20px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }

  /* Prikkerne/kuglerne/indikatorerne */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 1rem 0.5rem;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  /* Baggrund på dutter */
  .active,
  .dot:hover {
    background-color: #717171;
  }

  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 2s;
  }

  @keyframes fade {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .streg2 {
    padding-bottom: 0.7rem;
  }
  h2 {
    font-size: 2.3rem;
  }
  h3 {
    font-size: 1.7rem;
  }
  p {
    font-size: 1.3rem;
  }
  /* Slideshow container */
  .slideshow-container {
    width: 93%;
    position: relative;
    margin-top: 2rem;
  }
  /* Skjul billederne som standard */
  .mySlides {
    display: none;
  }
  /* Næste og forrige knapper */
  .prev,
  .next {
    position: absolute;
    top: 37%;
    width: auto;
    padding: 16px;
    color: var(--menu);
    font-size: 76px;
  }
  /* Placer "næste-knappen" til højre */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  /* Når du svæver, tilføjer du en sort baggrundsfarve med en lille smule gennemsigtighed */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  /* billedtekst */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }

  /* Nummertekst (1/3 osv.) */
  .numbertext {
    color: #f2f2f2;
    font-size: 20px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }

  /* Prikkerne/kuglerne/indikatorerne */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 1rem 0.5rem;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  /* Baggrund på dutter */
  .active,
  .dot:hover {
    background-color: #717171;
  }

  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 2s;
  }

  @keyframes fade {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  /***************** Tema 4 *****************/
  .overskrift_portfolio {
    text-align: center;
    padding-top: 2rem;
  }
  .grid_1-4 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1rem 2rem 1rem;
  }
  .grid_2-4 {
    padding-top: 2rem;
    padding-left: 5rem;
    max-width: 80%;
  }
  .grid_3-4 {
    padding: 1rem 2rem 1rem;
  }
  .streg2 {
    padding-bottom: 0.7rem;
  }
  h2 {
    font-size: 2.1rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  p {
    font-size: 1.1rem;
  }
  /***************** Tema 5 *****************/
  .overskrift_portfolio {
    text-align: center;
    padding-top: 2rem;
  }
  .grid_1-5 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1rem 2rem 1rem;
  }
  .grid_2-5 {
    padding-top: 2rem;
    padding-left: 5rem;
    max-width: 80%;
  }
  .grid_3-5 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1rem 2rem 1rem;
  }
  .grid_4-5 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 1rem;
  }
  .mindretak5 {
    padding-left: 2rem;
    max-width: 60%;
  }
  .streg2 {
    padding-top: 2rem;
    padding-bottom: 0.7rem;
  }
  h2 {
    font-size: 2.1rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  h4 {
    font-size: 1.4rem;
  }
  p {
    font-size: 1.1rem;
  }
}
/************************* desktop style *************************/

@media (min-width: 1200px) {
  /***************** Portfolio *****************/
  .grid_2-2-2-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 5rem 10rem 5rem 10rem;
    gap: 50px;
  }
  .flex_col {
    padding: 1rem 1rem 1rem 1rem;
    background-color: var(--primary);
  }
  /***************** Tema 2 *****************/

  .overskrift_portfolio {
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 1rem;
  }
  .grid_1-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 3rem;
  }
  .grid_2-2 {
    display: grid;
  }
  .grid_3-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1rem 2rem 1rem;
  }
  .grid_4-2 {
    max-width: 50%;
    padding-bottom: 1rem;
  }
  #mindretak2 {
    max-width: 80%;
    padding-left: 1rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.9rem;
  }
  p {
    font-size: 1.5rem;
  }
  /***************** Tema 3 *****************/
  .overskrift_portfolio {
    text-align: center;
    padding-top: 2rem;
  }
  .grid_1-3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1rem 2rem 3rem;
  }
  .grid_2-3 {
    max-width: 100%;
    padding-top: 2rem;
    padding-left: 4rem;
  }
  #mindretak3 {
    max-width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1.5rem;
  }
  .streg2 {
    padding-bottom: 0.7rem;
  }
  h2 {
    font-size: 2.3rem;
  }
  h3 {
    font-size: 1.7rem;
  }
  p {
    font-size: 1.3rem;
  }
}
